//--Variables defined here
$content-shadow-color: #bbb;
$primary-background-color: #fff;

// $header-background: #2dA0C7;
$header-background: white;
$header-color: #2DA0C7;

$link-color: #00B7FF;
$link-color-hover: #00E7FF;


$nav-label-color: #eee;