//--Variables defined here
$content-shadow-color: rgba(200,200,200,0.2);
$primary-background-color: #fff;

// $header-background: #2dA0C7;
$header-background: white;
$header-color: #2DA0C7;

$footer-background-color: rgba(100,100,100,0.3);

$link-color: #00B7FF;
$link-color-hover: #00E7FF;


$nav-label-color: #eee;
$nav-background-color: rgba(50,150,200,0.7);
$nav-link-color: white;
$nav-link-color-hover: rgba(200,200,200,1);