@import "./mixins";
@import "./vars";


@import "./global";


header {
  height: 150px;
  padding: 20px 0 70px 0;
  color: $header-color;
  background: $header-background;
  h1 {
    margin:0;
    padding:0;
    font-size: 2em;
  }
  h2 {
    position: relative;
    margin-left: 5em;
    font-size: .7em;
    top: -1em;
  }
  
  margin: 0 5% 0 5%;
  border-bottom: 3px solid rgba(0,0,0,0.1);

  .social-media {
    .menu {
      display:none;
    }
    float: right;
    font-size: 1em;
    li {
      display: inline;
      padding: .3em;
    }
  }
}

aside {
  position: fixed;
  width: 20%;
  margin-left: 0;
  left: 0;
  top: 11.7em;

  border-radius: 0 5px 5px 0;

  text-align: right;
  background: $nav-background-color;
  padding: 1em;

  a {
      color: $nav-link-color;
      &:hover {
        color: $nav-link-color-hover;
      }
  }

  ul {
    padding: .3em;
    li {
      padding: .2em 0;
    }
  }

  nav {
    font-size: 1.3em;
  }

}

.welcome {
  width: 70%;
  // float: right;
  margin: 0 5% 0 auto;
}

main {
  width: 70%;
  margin: 0 5% 0 auto;
  min-height: 360px;
}

footer {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  background: $footer-background-color;
  a {
    color: black;
    &:hover,&:focus {
      color: black;
    }
  }
  .copyright {
    width: 30%;
    float: left;
    margin-left: 10%;
  }
  .contact-links {
    width: 30%;
    float: right;
    text-align: right;
    margin-right: 10%;
  }
}

@media screen and (max-width: 40em){
  header .social-media .menu {
    display: block;
    a {
      &:visited {
        color: $link-color;
      }
    }
  }

  header .social-media .sm-links {
    display: none;
  }

  .oc-nav {
    position: absolute;
    top: 150px;
    left: 0px;
    width: 50%;
    min-height: 200px;
    background: $nav-background-color-opaque;
  }
  .off-canvas {
    left: -9999px;
  }

  main,.welcome {
    width: 100%;
  }

}
