extends layout

block extraHead
  link(rel="stylesheet",href="/stylesheets/blog.css")

block mainContent
  h1 Blog
  #articles
    if articles.length == 0
      h2 There are no blog posts
      p Hopefully that will change soon, or I've done something very wrong
    else
      for article in articles
        .article
          h2.title 
            a(href="/blog/"+article._id.toHexString())!= article.title
          article.full_text