extends layout


block mainContent
  p.
    If you'd like to contact me in any way, I can be found on #[a(href= linkedinLink) LinkedIn] and #[a(href= githubLink) GitHub]. You can also reach out by emailing me at #[a(href= "mailto:ian@iansimonson.com") ian@iansimonson.com].
