extends layout


  

block mainContent
  section.welcome
    p.
      Welcome. This is my personal site for my blog and contact information. As time goes on I plan to add more modules
      on the site navigation as I experiment with web technologies. All
      source files for this site are available on #[a(href= githubLink + "/IanSimonson") GitHub].

    p.
      Take a look around. The design is a continuous work in progress. While I've been
      using the #[a(href= "http://www.csszengarden.com/") CSS Zen Garden]
      approach to design, if you have any CSS tips/layout suggestions feel free
      to send me an #[a(href="mailto:ian@iansimonson.com") email].

  section.blog
    article#most-recent
      h2 Recent updates
      if articles.length == 0
        p: The blog is currently under #[a(href="/blog") /blog] and all the routing is based on that root. A workaround will be put in place to list the most recent blog post here.
      else
        for article in articles
          .article
            h3.title
              a(href="/blog/"+article._id.toHexString())!= article.title
            .body !{article.small_text}

  section.other-content
    article
      h2 About the site
      p.
        This is my personal site to talk about technologies I'm experimenting with or other similar tech-related ongoings. I will be adding to it over time. Any web-app or new feature I add on the site navigation will be covered in a blog post and the source code will be made available. The site's layout may also change. If things break at some point, well that's part of the learning process and I'll get the site back up.
      p.
        I've learned and continue to learn by googling, reading other blog posts, and copious amounts of copying, splicing, and sanitizing various code snippets from other people. As such, all source code for this site and blog, as well as any projects or little code bits I might talk about, I will be posting on my GitHub. 

      p.
        The site's source is available under the #[a(href="http://www.wtfpl.net/") WTFPL] on #[a(href= githubLink + "/IanSimonson") GitHub].