extends layout

block introContent
  section.welcome
    p.
      Welcome. This is my personal site for hosting contact information
      as well as a blog. As time goes on I plan to add more modules
      on the site navigation as I learn more about web technologies. All
      source files for this site are available on #[a(href= githubLink) GitHub].

    p.
      Take a look around. The design is a continuous work in progress. While I've been
      using the #[a(href= "http://www.csszengarden.com/") CSS Zen Garden]
      approach to design, if you have any CSS tips/layout suggestions feel free
      to send me an email.

block mainContent
  section.blog
    article#most-recent
      h2 Recent updates
      p: strong This line will eventually contain the latest blog post (currently not implemented)

    article
      h2 About the site
      p.
        The site is currently pretty sparse, but I will be adding to it over the next few weeks. As time goes on it will change, both in layout and content. If things break at some point, it's probably because I'm trying something out and did something I wasn't supposed to. The site will come back up eventually.
      p.
        I've learned and continue to learn by googling, reading other blog posts, and copious amounts of copying, splicing, and sanitizing various code snippets from other people. As such, all source code for this site and blog, as well as any projects or little code bits I might talk about, I will be posting on my GitHub. 

      p.
        The site's source is available under the #[a(href="http://www.wtfpl.net/") WTFPL]. 
      