extends layout

block introContent
  section.welcome
    p.
      Welcome. This is my personal site for hosting contact information
      as well as a blog. As time goes on I plan to add more modules
      on the site navigation as I learn more about web technologies. All
      source files for this site are available on #[a(href= githubLink) GitHub].

    p.
      Take a look around. The design is a continuous work in progress. While I've been
      using the #[a(href= "http://www.csszengarden.com/") CSS Zen Garden]
      approach to design, if you have any CSS tips/layout suggestions feel free
      to send me an email.

block mainContent
  section.blog
    article#most-recent
      h2 Recent updates
      p: strong This line will contain most the recent blog link (currently not implemented)

    article
      h2 About the site
      p.
        I've learned and continue to learn by googling, reading other blog posts, and copious amounts of copying, splicing, and sanitizing various code snippets from other people. As such, all source code for this site and blog, as well as any projects or little code bits I might talk about, I will be posting on my GitHub. The site's source will be under the #[a(href="http://choosealicense.com/licenses/unlicense/") Unlicense]. 
      