- var githubLink = "https://github.com/iansimonson"
- var linkedinLink = "https://www.linkedin.com/in/iansimonson"

doctype html
html(lang="en")
  head
    title= title
    meta(charset-"utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block extraHead
  body
    .page-wrapper

      section.intro
        header
          h1 Ian Simonson
          h2 Lorem ipsum dolor sit amet, consectetur.

          .social-media
            ul
              li
                a(href= githubLink) GitHub
              li 
                a(href= linkedinLink) LinkedIn

        block introContent


      aside
        nav
          ul
            for item in ["home","blog","contact"]
              li
                if item == "home"
                  a(href="/")= item
                else
                  a(href="/"+item)= item


      main
        block mainContent


      section.outro
        footer
          section.copyright
            p &copy; 2015
          section.contact-links
            ul
              li: a(href="/contact") Contact
              li: a(href= linkedinLink) LinkedIn
              li: a(href= githubLink) GitHub